CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_RAM=y
CONFIG_EFI=y
CONFIG_EFI_ZBOOT=y
CONFIG_CMDLINE="console=ttyMSM0,115200 earlycon=msm_geni_serial,0xa84000 clk_ignore_unused regulator_ignore_unused pd_ignore_unused msm_drm.dsi_display0=dsi_samsung_s6e3fc2x01_cmd_display: androidboot.hw_version=43 rw rootwait"
CONFIG_CMDLINE_EXTEND=y
# DISABLE TUX LOGO
CONFIG_LOGO=n
# CONFIG_LOGO_LINUX_CLUT224 is not set
