CONFIG_PSTORE=y
CONFIG_PSTORE_CONSOLE=y
CONFIG_PSTORE_PMSG=y
CONFIG_PSTORE_RAM=y
CONFIG_EFI=y
CONFIG_EFI_ZBOOT=y
CONFIG_CMDLINE="console=ttyMSM0,115200 earlycon=msm_geni_serial,0xa84000 clk_ignore_unused regulator_ignore_unused pd_ignore_unused msm_drm.dsi_display0=dsi_samsung_s6e3fc2x01_cmd_display: androidboot.hw_version=43 root=PARTUUID=9711c9e0-be7c-406e-8a98-dbcfcac30f56 rootwait rw"
CONFIG_CMDLINE_FORCE=y
# CRITICAL DISPLAY FIXES
CONFIG_REGULATOR_QCOM_REFGEN=y
CONFIG_REGULATOR_QCOM_LABIBB=y
# TOUCHSCREEN BUILT-IN (RMI4)
CONFIG_INPUT_RMI4=y
CONFIG_RMI4_I2C=y
CONFIG_RMI4_F03=y
CONFIG_RMI4_F03_SERIO=y
CONFIG_RMI4_2D_SENSOR=y
CONFIG_RMI4_F11=y
CONFIG_RMI4_F12=y
CONFIG_RMI4_F30=y
CONFIG_RMI4_F3A=y
CONFIG_RMI4_F54=y
CONFIG_RMI4_F55=y
